.bottombar {
  background-color: #fff;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}

.bottombar-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.bottom-nav-item {
  flex: 1;
  position: relative;
  text-align: center;
}

.bottom-nav-item.active {
  background: rgba(0, 0, 0, 0.04);
}

.bottom-nav-item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 3px;
  background-color: transparent;
}

.bottom-nav-item.active::before {
  background-color: rgb(56, 134, 80);
}

.bottom-nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  padding: 18px 0 24px 0;
  text-decoration: none;
  background: none;
  border: none;
}

.bottom-nav-item svg {
  color: rgb(159, 159, 169);
}

.bottom-nav-item span {
  color: rgb(63, 63, 71);
}

.bottom-nav-item.active svg,
.bottom-nav-item.active span {
  color: rgb(56, 134, 80);
}

.menu-title {
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 600;
}

.nav-item svg {
  color: rgb(159, 159, 169);
}

.nav-item span {
  color: rgb(63, 63, 71);
}

.nav-link:hover {
  background: rgba(0, 0, 0, 0.04);
}

.nav-link.active {
  background: rgba(0, 0, 0, 0.04);
}

.nav-link.active span {
  color: rgb(56, 134, 80);
}

.nav-link.active svg {
  color: rgb(56, 134, 80);
}

@media (max-width: 991.98px) {
  .sidebar-header {
    display: none !important;
  }

  .content {
    padding-bottom: 120px !important;
  }
}
