.btn-menu {
  border: none;
  color: rgb(159, 159, 169);
  background-color: inherit;
}

.btn-menu:hover {
  color: rgba(159, 159, 169, 0.8);
}

.menu-title {
  font-size: 12px;
  letter-spacing: 1px;
}

.nav-item svg {
  color: rgb(159, 159, 169);
}

.nav-item span {
  color: rgb(63, 63, 71);
}

.nav-link:hover {
  background: rgba(0, 0, 0, 0.03);
}

.nav-link.active {
  background: rgba(0, 0, 0, 0.03);
}

.nav-link.active span {
  color: rgb(56, 134, 80);
}

.nav-link.active svg {
  color: rgb(56, 134, 80);
}

@media (max-width: 991px) {
  .header {
    display: none !important;
  }

  .offcanvas {
    width: 290px !important;
  }

  .offcanvas-body {
    display: flex !important;
    flex-direction: column !important;
  }
}
